doctype html
html(lang="en")
    head
        title Members Only
        block script
        block stylelink
            link(rel='stylesheet' href="/stylesheets/layout.css")
            link(rel="preconnect" href="https://fonts.googleapis.com")
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet")
    body
        nav.nav-container
            a.brand-container(href="/")
                img(src="/images/logo.svg" alt="brand")
                h2 Members Only
            if !currentUser
                div.nav-items-container
                    a.nav-item-container(href="/log-in")
                        img(src="/images/login.svg" alt="login")
                        p Log In
                    a.nav-item-container(href="/sign-up")
                        img(src="/images/register.svg" alt="register")
                        p Sign Up
            else
                div.nav-items-container
                    a.nav-item-container(href="/posts/create")
                        img(src="/images/createPost.svg" alt="create")
                        p Create a post
                    a.nav-item-container(href="/membership/join")
                        p Membership
                    a.nav-item-container(href="/admin/join")
                        p Admin
                    a.nav-item-container(href="/log-out")
                        img(src="/images/logout.svg" alt="logout")
                        p Sign Out
        block content