* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    background-color: rgb(29, 28, 28);
    min-height: 100vh;
}

.brand-container {
    text-decoration: none;
    color: white;
}

.nav-container {
    width: 100vw;
    background-color: black;
    padding: 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-items-container {
    display: flex;
    gap: 30px;
}

.nav-item-container {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.brand-container {
    display: flex;
    align-items: center;
}