* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    background-color: rgb(29, 28, 28);
    min-height: 100vh;
}

.brand-container {
    text-decoration: none;
    color: white;
}

.nav-container {
    width: 100vw;
    background-color: black;
    padding: 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100000;
}

.nav-items-container {
    display: flex;
    gap: 30px;
    margin-right: 10px;
}

.nav-item-container {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    gap: 2px;
}

.brand-container {
    display: flex;
    align-items: center;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.sidebar {
    width: 50vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    transform: translateX(50vw);
}

@media(max-width: 925px) {
    .nav-container {
        flex-direction: column;
    }
}

@media(max-width: 670px) {
    .nav-items-container {
        gap: 15px;
    }
}